<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
>
    <php>
        <var name="db_type" value="pdo_mysql|pdo_pgsql|..."/>
        <var name="db_host" value="host" />
        <var name="db_username" value="username" />
        <var name="db_password" value="password" />
        <var name="db_name" value="name" />
        <var name="db_port" value="3306|5432|..."/>
    </php>

    <testsuites>
        <testsuite name="Anonymizer Test Suite">
            <directory suffix="Test.php">tests/DatabaseAnonymizer/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
